.styled_button {
  background-color: $theme_green;
  border: none;
  padding: 10px 10px;
  border-radius: 9px;
  color: $light;
  font-family: gilroy;
  font-weight: 600;
  letter-spacing: 1px;

  &.disable {
    opacity: 0.8;
    cursor: not-allowed;
  }

  // colors

  &.danger {
    background-color: $danger;
    color: $light;
  }
  &.dark {
    background-color: $dark;
    color: $light;
  }
  // sizes

  &.sm {
    padding: 4px 10px;
  }
  &.xsm {
    padding: 2px 10px;
  }
  &.md {
    padding: 8px 10px;
  }


}
