.mobile_bg {
    background: url(../../public/circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    width: 90%;
    margin-right: auto; 
}